[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-script = "*"
flask-migrate = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
flask-mail = "*"

[requires]
python_version = "3.8"

[scripts]
startdb = "python app.py db init && python app.py db migrate && python app.py db upgrade"
startserver = "python app.py loadroles && python app.py loadadmin && python app.py runserver"